{
	email {$ACME_EMAIL}
}

api.{$PKUBA_DOMAIN} {
	encode zstd gzip
	reverse_proxy api:8000
}

admin.{$PKUBA_DOMAIN} {
	encode zstd gzip
	handle /api/* {
		reverse_proxy api:8000
	}
	handle /_maintenance/* {
		reverse_proxy api:8000
	}
	handle {
		root * /srv/admin-web
		try_files {path} /index.html
		file_server
	}
}
